{
  "wifi_ssid": "A2",
  "wifi_pass": "W;2",
  "api_key": "sk-ab081",
  "model": "google/gemini-2.5-flash",
  "device_name": "wireclaw-01",
  "max_tokens": 2048,
  "temperature": 0.7,
  "nats_host": "192.168.178.35",
  "nats_port": "4222",
  "telegram_token": "819_o0Mw",
  "telegram_chat_id": "1331",
  "telegram_cooldown": "15"
}
